<article class='trainer-card __TRAINER_CARD_CLASS__' data-is-rematch='__IS_REMATCH_CARD__' data-starter-filter-scope='__STARTER_FILTER_SCOPE__' data-player-starter='__PLAYER_STARTER_TOKEN__'><div class='trainer-main'>
<div class='trainer-left'>
<div class='trainer-portrait'>
<img src='__TRAINER_SPRITE__' alt='__TRAINER_NAME__'>
</div>
<div class='trainer-id'>
<div class='trainer-class'>__TRAINER_CLASS__</div>
<div class='trainer-name'>__TRAINER_NAME__</div>
__REMATCH_BADGE_HTML__
</div>
__PLAYER_PICKED_HTML__
</div>
<div class='mons'>
__MONS_HTML__
</div>
</div></article>